:root {
    --font-family: Fangsong;
    --main-page-border: 2px solid #f5f0e8;
}
body{
    font-family: var(--font-family);
}
h1 {
    color: #674f04;
    text-align: center;
    line-height: 30px;
    font-weight: 200px
}

h2{
    color: #a28f70;
    text-align: center;
    line-height: 25px;
    font-weight: 100px;
}

.emoticons {
    text-align: center;
}

.sections {
   display: flex;
   justify-content: space-evenly;
   flex: 1;
}

.introduction {
    font-size: 17px;
    line-height: 20px;
    font-weight: 100px;
    padding: 10px
    border: var(--main-page-border);
}

.instagram {
    font-size: 17px;
    line-height: 20px;
    font-weight: 100px;
    padding: 10px
    border: var(--main-page-border);
}

a:hover {
    color: #674f04;
}

a:visited {
    color: #41444b;
}