:root {
    --font-family: Fangsong;
    --main-page-border: 2px solid #52575d;
    --second-page-body-color: #674f04;
    --second-page-border: 2px solid #cabfab;
    --padding-within-context: 8px 5px 8px 5px;
  }
  body {
    font-family: var(--font-family);
    background-color: #dfd8c8;
  }
  h1 {
    color: #41444b;
    text-align: center;
    line-height: 30px;
    font-weight: 200px
    margin-top: 20px;
  }
  
  h2{
    color: #a28f70;
    text-align: center;
    line-height: 25px;
    font-weight: 100px;
  }
  
  h3 {
    text-align: center;
  }
  
  .emoticons {
    text-align: center;
  }
  
  .sections {
   display: flex;
   justify-content: space-evenly;
   flex: 1;
  }
  
  .introduction {
    font-size: 17px;
    line-height: 20px;
    font-weight: 100px;
    padding: 5px 5px 5px 5px;
    border: var(--main-page-border);
  }
  
  .instagram {
    font-size: 17px;
    line-height: 20px;
    font-weight: 100px;
    padding: 5px 5px 5px 5px;
    border: var(--main-page-border);
  }
  
  .sectional {
    display: flex;
   justify-content: space-evenly;
   flex: 1;
  }
  
  .cats {
    font: var(--font-family);
    color: var(--second-page-body-color);
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    border: var(--second-page-border);
    padding: var(--padding-within-context);
  }
  
  .jewelry {
    font: var(--font-family);
    color: var(--second-page-body-color);
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    border: var(--second-page-border);
    padding: var(--padding-within-context);
  }
  
  .job {
    font: var(--font-family);
    color: var(--second-page-body-color);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: var(--second-page-border);
    padding: var(--padding-within-context);
  }
  
  footer {
    font: var(--font-family);
    color: #41444b;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding: var(--padding-within-context)
  }
  a:hover {
    color: #674f04;
  }
  
  a:visited {
    color: #41444b;
  }